<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCawUg2MV6N2L07eCLDyOwpW1pY23_-Xh8</string>
	<key>GCM_SENDER_ID</key>
	<string>778896808785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finstarTestTask</string>
	<key>PROJECT_ID</key>
	<string>finstar-test-task</string>
	<key>STORAGE_BUCKET</key>
	<string>finstar-test-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778896808785:ios:ed45724e724bdc0d7e1170</string>
</dict>
</plist>